repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-added-large-files
        args: ['--maxkb=100']
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: detect-private-key
    -   id: forbid-submodules
    -   id: name-tests-test
    -   id: no-commit-to-branch
    -   id: pretty-format-json
-   repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
    -   id: black
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.6.4
  hooks:
    # Run the linter.
    - id: ruff
      types_or: [ python, pyi ]
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
      types_or: [ python, pyi ]
- repo: https://github.com/standard/standard
  rev: v17.1.1
  hooks:
    - id: standard
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
- repo: https://github.com/thlorenz/doctoc
  rev: v2.2.0
  hooks:
    - id: doctoc
