certifi==2024.8.30
cffi==1.17.1
pycparser==2.22
python==3.12
streamlit 
regex 
requests
flask
werkzeug
pdfminer
openai
docx
python-dotenv
streamlit
langgraph
pre-commit
crewai
composio-crewai
e2b
pydantic
langchain-openai
together
watchdog


